/* Essential Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white
}
 
/* Background Styles */
.grid-container > div{
    background-color: rgb(176, 68, 68);
    font-size: 35px;
    color:white;

    text-align: center;
    border-radius: 15px;
    margin: 20px;
    align-content: center;
}

/* Essential Styling */

.grid-container{
    display: grid;
    height: 100vh;

    grid-template-columns: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
}